/* Navigation styles */
* {
  margin: 0;
  padding: 0;
}
/* css variables */

/* Navigation bar */
#navbar {
  display: flex;
  align-items: center;

}
/*logo and img*/
#logo {
  margin: 10px 30px;
  height: 1.5cm;
  width: 2cm;
}

#logo img {
  height: 2cm;
  width: 2.5cm;
  margin: -10px 0px;
}

#navbar {
  position: relative;
  overflow: hidden;
  background-color: #dacb03;
}

#navbar ul {
  display: flex;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a:active {
  background-color: #aa9104;
  color: rgb(255, 255, 255);
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
  color: rgb(57, 7, 7);
  float: left;
  transition:0.3s ease;
}

#navbar ul li a:hover {
  display: block;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
  color: rgb(54, 43, 110);
  background-color:#088178;
}
#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}


/* About Us section styles */
.about-us {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

/* Developer section styles */
.developer {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.dev-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.dev-card {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 45%;
  transition: transform 0.2s ease-in-out;
}

.dev-card:hover {
  transform: translateY(-5px);
}

.dev-card img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin: auto;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.dev-card:hover img {
  transform: scale(1.1);
}

.dev-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.dev-card p {
  color: #777;
  font-size: 1rem;
  margin-bottom: 1rem;
}



.dev-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dev-socials a {
  display: inline-block;
  margin: 0 5px;
}

.dev-socials img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.dev-socials a:hover {
  transform: scale(1.2);
}
#text{
  text-align: center;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-top: 40px;
  clear: both;
}


